

.react-time-picker__inputGroup {
    padding: 0 8px;
}

.react-time-picker__wrapper, .DayPickerInput {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 34px;
    flex: 1;
    display: flex;
}

.DayPickerInput {
    width: 230px;
}

.DayPickerInput input {
    border: 0px;
    padding: 8px;
}

.react-time-picker {
    flex: 1;
    display: flex;
}

.react-time-picker__wrapper::placeholder, .react-time-picker::placeholder {
    color: #d9d9d9;
}

.rw-combobox {
    height: 34px;
    /* padding: 8px; */
}

.rw-widget-picker {
    height: 34px;
}

.rw-widget-picker input {
    border: none;
    box-shadow: 0 0 0 0;
}

.tam {
    width: 230px;
    height: 36px;
}

.btn-sel {
    height: 36px;
}

.btnColor {
    background-color: #042963;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnColor:hover {
    background-color: rgba(4, 41, 99, 0.80);
    cursor: pointer;
}

.btnColor:focus {
	background-color: rgba(4, 41, 99, 0.80);
}

.col-pd {
    padding-left: 7px;
    padding-right: 7px;
}

.col-right {
    height: 36px;
    margin-bottom: 7px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}