.tam {
    width: 230px;
    height: 36px;
}

.btnColor {
    background-color: #042963;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnColor:hover {
    background-color: rgba(4, 41, 99, 0.80);
    cursor: pointer;
}

.btnColor:focus {
	background-color: rgba(4, 41, 99, 0.80);
}

.rw-combobox {
    height: 34px;
    width: 240px;
    /* padding: 8px; */
    padding-left: 1px;
}

.col-0 {
    padding: 0;
}

.rw-widget-picker {
    height: 34px;
    width: 230px;
}

.rw-widget-picker input {
    border: none;
    box-shadow: 0 0 0 0;
}

.rw-widget>.rw-widget-container {
    width: 230px;
}