.container-index {
    width: 90%;
    height: auto;
}

.tam {
    width: 230px;
    height: 36px;
}

.bt-height {
    height: 35px;
}

.btnColor {
    background-color: #042963;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnColor:hover {
    background-color: rgba(4, 41, 99, 0.80);
    cursor: pointer;
}

.btnColor:focus {
	background-color: rgba(4, 41, 99, 0.80);
}

.mb-p {
    margin: 0;
    padding-bottom: 4px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    height: 34px;
}

.DayPickerInput {
    width: 230px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 34px;
    flex: 1;
    display: flex;
}

.DayPickerInput input {
    border: 0px;
    padding: 8px;
}

.mt-5 {
    margin-top: 5px;
}