.container-index {
	width: 90%;
}

.tam {
    width: 230px;
    height: 36px;
}

.bt-height {
    height: 35px;
}

.btnColor {
    background-color: #042963;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnColor:hover {
    background-color: rgba(4, 41, 99, 0.80);
    cursor: pointer;
}

.btnColor:focus {
	background-color: rgba(4, 41, 99, 0.80);
}

.mt-p {
    margin-bottom: 0;
    margin-top: 4px;
}

.direction {
    display: flex;
    flex-direction: row;

}