.container-index {
	width: 90%;
}

.tam {
    width: 230px;
    height: 36px;
}

.btnColor {
    background-color: #042963;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnColor:hover {
    background-color: rgba(4, 41, 99, 0.80);
    cursor: pointer;
}

.btnColor:focus {
	background-color: rgba(4, 41, 99, 0.80);
}

.loading {
    width: 100%;
    height: 100%;
}

.zero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.zero p {
    color: #AAA;
}